.middle {
    height: 37vh;
    background-color: rgb(45, 45, 94);
    display: flex;
    justify-content: space-around;
  }
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .main p {
    background-color: white;
  }
  .main button {
    background-color: rgb(125, 125, 235);
  }
  .image {
    margin: 40px;
  }
  
  .image img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 460px;
  }