
.main{
    margin-top:10%;
    margin-left:25%;
    margin-bottom: 30%;
    width:40vw;
    height:80vh;
    overflow:scroll;
    z-index:1;
    opacity:1;
}

.top{
    display:flex;
    justify-content: space-between;
    border:1px solid black;

}

.center{
    background-color: grey;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    justify-items:center;
}
